parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Ibexa\\\\Contracts\\\\ProductCatalog\\\\Values\\\\ProductInterface\\:\\:isAvailable\\(\\)\\.$#"
			count: 1
			path: src/lib/PIM/InMemory/CriterionVisitor.php

		-
			message: "#^Parameter \\#1 \\$object of class Ibexa\\\\ExampleInMemoryProductCatalog\\\\PIM\\\\InMemory\\\\Permissions\\\\Context constructor expects Ibexa\\\\Contracts\\\\Core\\\\Repository\\\\Values\\\\ValueObject, object\\|null given\\.$#"
			count: 1
			path: src/lib/PIM/InMemory/Permissions/ContextProvider.php

		-
			message: "#^Parameter \\#1 \\$criterion of class Ibexa\\\\ExampleInMemoryProductCatalog\\\\PIM\\\\InMemory\\\\CriterionVisitor constructor expects Ibexa\\\\Contracts\\\\ProductCatalog\\\\Values\\\\Product\\\\Query\\\\CriterionInterface, Ibexa\\\\Contracts\\\\ProductCatalog\\\\Values\\\\Product\\\\Query\\\\CriterionInterface\\|null given\\.$#"
			count: 2
			path: src/lib/PIM/InMemory/ProductService.php

		-
			message: "#^Class Ibexa\\\\ExampleInMemoryProductCatalog\\\\PIM\\\\InMemory\\\\Value\\\\AssetCollection extends generic class Ibexa\\\\Contracts\\\\Core\\\\Collection\\\\ArrayList but does not specify its types\\: TValue$#"
			count: 1
			path: src/lib/PIM/InMemory/Value/AssetCollection.php
